<!DOCTYPE HTML>
<html>
<head>
<title>Успешно записване</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Description">
<meta name="keywords" content="keyword1, keyword2">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/gif" href="img/icon/zap1.gif">
<link rel="shortcut icon" type="image/x-icon" href="img/icon/Notes.ico">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/default.css">

</head>

	<body>
	<div class="container panel panel-primary top-space">
		<div class="text-center panel-primary">
	  		<div class="panel-heading form-group ">
	  		<img src="img/BoyanMagaText.png" title="Боянъ Мага" alt="лого" draggable="false">
	  			<h3 style="font-style: italic;">Училище за български език и изкуства</h3>
			</div>
		</div> <!-- FIN PANEL-PRIMARY -->
		<div>
			<div class="jumbotron">
  				<h1>Регистрация № <?= $_GET['formId'] ?></h1>
  				<h1><small>Успешна!</small></h1>
  				<p>Благодарим за доверието</p>
  			<hr />
  				<p>
  					<a class="btn btn-primary btn-lg" href="http://boyanmaga.org/moto3/formuliar/formRegistration.php" role="button">Нова регистрация</a>
  					<a class="btn btn-success btn-lg" href="http://www.boyanmaga.org/moto3/" role="button">Начало</a>
  					<a class="btn btn-warning btn-lg" href="https://www.google.bg" role="button">Затвори</a>
  				</p>
			</div>
		</div>
	</body>
</html>